.chart-container {
    margin-top: 2rem;
}

.visualization {
    margin-bottom: 2rem;
    display: block; /* Make sure it is displayed */
    width: 100%; /* Ensure the chart takes full width */
    height: auto; /* Automatically adjust the height */
    overflow: hidden; /* Prevent overflow */
}

#bubble-chart {
    width: 100%;
    height: 600px; /* Increase the height of the bubble chart container */
    overflow: hidden; /* Prevent content overflow */
}

#bubble-chart + .text-muted {
    max-width: 550px;
    word-wrap: break-word; 
    text-align: justify;
    float: right;
    line-height: 1.6;
    padding-left: 20px;
}

/* Ensure the controls container stays fixed at the top */
#controls {
    position: fixed;
    top: 20px; /* Adjust the distance from the top of the page */
    right: 20px; /* Adjust the distance from the right */
    z-index: 1000; /* Ensure it stays above other elements */
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency */
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Adjust the slider width to fit the smaller container */
#year-slider {
    width: 100%;
}

/* Style the year display */
#year-display {
    font-weight: bold;
    text-align: center;
}

.leaflet-control {
    z-index: 500;
    margin-right: 20px;
}

/* Add styles for the map containers */
#choropleth-map,
#dot-distribution-map {
    height: 600px;
    width: 100%;
    max-width: 100%;
}

.legend {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 3px;
    z-index: 500;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    z-index: 500;
}


/* Styling for the Sankey diagram */
#sankey-diagram svg {
    font-family: 'Arial', sans-serif;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.links path {
    fill: none;
    stroke: #69a4b3;
    stroke-opacity: 0.5;
    transition: stroke-opacity 0.3s;
}

.links path:hover {
    stroke-opacity: 1;
}

.nodes rect {
    fill: #6995b3;
    stroke: #000;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.nodes rect:hover {
    fill: #456a9d;
}

.nodes text {
    font-size: 12px;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

p {
    max-width: 550px;
    word-wrap: break-word;
    line-height: 1.6;
    text-align: justify;
}

footer {
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}